@page "/"
@using MauiRickAndMorty.Models
@using MauiRickAndMorty.Services
@inject IRickMortyServices Service

@if (_data !=  null)
{
  

    @foreach (var result in _data.results )
    {
        <div class="card bg-dark text-white">
            <img src="@result.image" alt="Imagen de @result.name" class="card-img-top" />
            <div class="card-body">

                <h5 ><h5 class="card-title">@result.name</h5></h5>
                <p class="card-text">@result.status - @result.species</p>
                <p class="card-text"><strong>Origen:</strong> @result.origin.name</p>
                <p class="card-text">
                    <strong>Última ubicación conocida:</strong><br />
                    <a href="location/@result.id">@result.location.name</a>
                </p>
                <p class="card-text">
                    <a href="episode/@result.id">Ver Episodios</a>
                    
                </p>
                <p class="card-text"><strong>Género:</strong> @result.gender</p>
                <p class="card-text"><strong>Creado el:</strong> @result.created.ToString("dd/MM/yyyy")</p>
            </div>
        </div><br />
    }
}

@code {
    private Rooot _data;
    private Info _info; 
    protected override async Task OnInitializedAsync()
    {
        _data = await Service.all();
        _info = _data.info;
    }
}
